forums = {
	'host' : '127.0.0.1',
	'dbname' : 'torforum_crawler',
	'user' : 'root',
	'password' : 'root',
	'charset' : 'utf8mb4'
}

markets = {
	'host' : '127.0.0.1',
	'dbname' : 'markets',
	'user' : 'root',
	'password' : 'root',
	'charset' : 'utf8mb4'
}